.container{
    padding: 15px;
}
.form-group {
    font-weight: 600;
}
.btn btn-icon{
    border-radius: 20px;
    background: coral;
    color: white;
    border: white;
}
.btn-group .btn-danger{
    padding-left: 10px;
    margin-left: 20px;
}
.btn {
    color: unset;
}
.btn-icon{
    height:26px;
    width:26px;
    border-radius: 16px;
    background-color: darkorange;
    border-color: white;
}
.btn-primary {
    background: white;
    background-color: white;
}
.btn-secondary {
    background: white;
    background-color: white;
}
.btn-group {
    color: #fff;
    background-color: white;
    border-color: white; 
}
.icon {
    position: relative;
    top: -5px;
    left: -8px;
    color:white;
}
.clr-form {
    padding:1rem;
}
.clr-input {
    background: unset;
    border:1px solid;
    border-radius: 2px;
    width: 385px;
    float: left;
}
.clr-input-wrapper {
    background: unset;
}
.clr-col-md-2 {
    flex: unset;
}
.select select {
    border:1px solid;
    border-radius: 2px;
    background: unset;
    font-weight: 500;
    width: 135px;
}
::-webkit-input-placeholder { /* Chrome */
    color: gray;
    font-size: 1em;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: gray;
    font-size: 1em;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: gray;
    font-size: 1em;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: gray;
    font-size: 1em;;
    opacity: 1;
  }
.clickable {
    color: black;
    background: gainsboro; 
    border: unset;
    border-radius: 10px;
    height: 25px;
    width: 550px;
}
.set-margin{
    margin-right: 30px;
}
.set-margin-level{
    margin-right: 30px;
}
.clear-icon-div{
    width:550px;
}



.flex-box-class{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-position-set{
    position: relative;
}

.tech-complaint-form{
    display: flex;
    flex-direction: row
}

.decesion-tree{
    width:100%;
    border:2px solid brown;
    order:1;
}