<clr-main-container>
  <clr-header >
    <div class="branding">
      <!-- <a
        href="#"
        class="nav-link"> -->
        <clr-icon *ngIf="loggedIn" shape="bars" class="nav-btn collapse-shape" (click)="collapsiable()"></clr-icon>
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Tech</span>
      <!-- </a> -->
    </div>
    <div class="header-actions">
      <!-- <a href="..." class="nav-link nav-text">
          Login
      </a> -->
      <a  *ngIf="!loggedIn"   (click)="login()" class="nav-link nav-text"><span class="glyphicon glyphicon-log-in"></span> Login</a>
     <a  *ngIf="loggedIn" (click)="logout()" class="nav-link nav-text"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
  </div>
    <!-- <div class="header-actions"></div> -->
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav *ngIf="loggedIn"
    [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="isCollapsed" class="vertical-nav-component"  [ngClass]="{'is-collapsed': isCollapsed === false }">
      <a
        clrVerticalNavLink
        routerLink="home"
        routerLinkActive="active">
        <clr-icon
          clrVerticalNavIcon
          shape="home"></clr-icon>
        Home
      </a>
      <a
        clrVerticalNavLink
        routerLink="product"
        routerLinkActive="active">
        <clr-icon
          clrVerticalNavIcon
          shape="blocks-group"></clr-icon>
        About
      </a>

      <a
      clrVerticalNavLink
      routerLink="datavisualization"
      routerLinkActive="active">
      <clr-icon
        clrVerticalNavIcon
        shape="blocks-group"></clr-icon>
      Data Visualization
    </a>

    <a
    clrVerticalNavLink
    routerLink="analytics"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="blocks-group"></clr-icon>
    Analytics
  </a>


    </clr-vertical-nav>
  </div>
</clr-main-container>
