<clr-main-container>
  <clr-header >
    <div class="branding">
      <!-- <a
        href="#"
        class="nav-link"> -->
        <clr-icon *ngIf="loggedIn" shape="bars" class="nav-btn collapse-shape" (click)="collapsiable()"></clr-icon>
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Tech</span>
      <!-- </a> -->
    </div>
    <div class="header-actions">
      <clr-dropdown *ngIf="loggedIn">
        <button class="nav-icon" clrDropdownTrigger>
            <clr-icon shape="user"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <div clrDropdownItem class="clr-dropdown-options-set">
              <span>{{userInfo?.name}}</span>
              <span>{{userInfo?.displayableId}}</span>
              <span>Role: Admin</span>
          </div>
           
            <a href="javascript:void(0)" clrDropdownItem>Preferences</a>
            <a href="javascript:void(0)"  (click)="logout()" clrDropdownItem> Logout</a>
        </clr-dropdown-menu>
    </clr-dropdown>
      <a  *ngIf="!loggedIn"   (click)="login()" class="nav-link nav-text"><span class="glyphicon glyphicon-log-in"></span> Login</a>
   
  </div>
    <!-- <div class="header-actions"></div> -->
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <div>
          <product-filter-shared></product-filter-shared>
      </div>
        

      <router-outlet>
        
      </router-outlet>
    </div>
    <clr-vertical-nav *ngIf="loggedIn"
    [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="isCollapsed" class="vertical-nav-component"  [ngClass]="{'is-collapsed': isCollapsed === false }">
      <a
        clrVerticalNavLink
        routerLink="home"
        routerLinkActive="active">
        <clr-icon
          clrVerticalNavIcon
          shape="home"></clr-icon>
        Home
      </a>
      <a
        clrVerticalNavLink
        routerLink="product"
        routerLinkActive="active">
        <clr-icon
          clrVerticalNavIcon
          shape="blocks-group"></clr-icon>
        About
      </a>

      <a
      clrVerticalNavLink
      routerLink="datavisualization"
      routerLinkActive="active">
      <clr-icon
        clrVerticalNavIcon
        shape="blocks-group"></clr-icon>
      Data Visualization
    </a>

    <a
    clrVerticalNavLink
    routerLink="analytics"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="blocks-group"></clr-icon>
    Analytics
  </a>


    </clr-vertical-nav>
  </div>
</clr-main-container>
